// @import '../../../assets/scss/theme/variables';
// @import '../../../../../assets/scss/dark/variables';

.setupbutton {
  margin:  auto;
  margin-top:110px;
  width: 768px;
  border:1px solid black;
  margin:auto;
  padding: 6px;
  display: block;
  width: 650px;
}

 