// @import '../../../assets/scss/theme/variables';
// @import '../../../../../assets/scss/dark/variables';


.setupiconcontainer {

  width: 400px;
  height: 400px;
  border: 1px solid rgb(0 0 0 / 6%);
  margin: 10px 0px 10px 0px;
  width: 100%;
  display: flex;
  background: #fafafa4f;
  justify-content: center;
  border-radius: 6px;

}

.setupiconcontainer img {
  user-select: none;
  width: 200px;
}

.setupbutton {
  margin: auto;
  margin-top: 110px;
  width: 768px;
  margin: auto;
  padding: 6px;
  display: block;
  width: 650px;
}

.relationbox {
  border-bottom: 1px solid hsla(0, 0%, 46.7%, .2);
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-y:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.relationbox_badge {
  background-color: #2c7be5;
  transform: translateY(-2px);
  margin-bottom:0px;
  padding-top:3px;
  padding-bottom:4px;
}

.left_item {

  .api-saved-list-item,
  .api-saved-list-item-active {
    background-color: rgba(119, 119, 119, .0666666667);
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 4px 4px;
    padding: 7px 5px;
    transition: all .2s ease;
  }
}

.right {
  // border: 1px solid blue;
  // width: 779px;
  overflow: auto;
  max-width: 2500px;
  height: calc(-87.283px - 2rem + 100vh);
}

.graphqlswitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 17px;
    background-color:#edf2f9;  
  border: 1px solid #d8e2ef;
  border-radius: 5px;
}
.graphql_empty{ 
   text-align: center;
   padding:20px;
   margin:auto;
  margin-top:  24vh   ;
 max-width: 800px;


}

.badge {
  &_primary {
    background-color: #2c7be5;
  }

  &_success {
    background-color: #00d27a;
  }

  &_warning {
    background-color: #f5803e;
  }

  &_danger {
    background-color: #e63757;
  }
}

.script_heading {
  &_primary,
  &_success,
  &_warning,
  &_danger {
    border: 1px solid #d8e2ef;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    font-family: monospace;
    overflow: auto;
    white-space: pre;
    // padding: 8px;
    padding: 1px 4px 1px 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    transform: translateY(-2px);
  }

  &_primary {
    background-color: rgba(44, 123, 229, 0.2);
  }

  &_success {
    background-color: rgba(0, 210, 122, 0.2);
  }

  &_warning {
    background-color: rgba(245, 128, 62, 0.2);
  }

  &_danger {
    background-color: rgba(230, 55, 87, 0.2);
  }
}